@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force reset */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; 
  background-color: black;
}

canvas {
  display: block; 
}
